/* HEADER */
/* add padding to the header */
table#hnmain > tbody > tr:first-of-type table {
    padding: 8px 16px !important;
}

/* add space between Y icon and the logo */
table#hnmain > tbody > tr:first-of-type table > tbody > tr > td:first-of-type {
    padding-right: 8px !important;
}

/* push menu farther away from the logo */
.brandname {
    margin-right: 24px !important;
}


/* ENTRY */
/* clean up default paddings on entry */
.athing td {
    padding: 0;
}

/* set margins for the upvote links to properly center */
.votearrow {
    margin: 3px 4px 6px 4px !important;
}

/* stretch entry container 100% to push meta controls to the left */
.athing > td:nth-of-type(3) {
    width: 100%;
}


/* FOOTER */
/* move 'more' button to the right */
tr.morespace ~ tr > td:nth-of-type(2) {
    text-align: right;
}

/* underline and convert to lowercase for consistency */
tr.morespace ~ tr > td:nth-of-type(2) > a {
    color: #000;
    text-decoration: underline;
    text-transform: lowercase;
}

/* add trailing '>>>' to encourage action */
tr.morespace ~ tr > td:nth-of-type(2) > a:after {
    content: ' >>>';
}